<div class="add-review">
	<h3>Add a Review!</h3>

	{{#if message}}
	<div class="error">{{ message }}</div>
	{{/if}}

	<form method="POST" action="">
		Rating: <select name="dropdown">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select> <br><br><br><br>
		<label for="description">Description:</label>
		<textarea name="description" id="description"></textarea>
		<input type="submit">
	</form>
</div>