img {
	display: inline-block;
	margin: auto;
}

.Courses{
	display: inline-block;
	margin: 0 auto;
}

.photo{
	display: inline-block;
	margin: 0 auto;
	margin-right: 50px;
}

.info{
	display: inline-block;
	height: 300px;
	width: 100%;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 75px;
	border-style: solid;
	padding: 5px;
	background-color: white;
}

.Research{
	text-align: center;
	background-color: #fffff0;
}

.Research ul{
	list-style-type: none;
}

.Work{
	text-align: center;
	background-color: #ffe9e1;
}

.Work ul{
	list-style-type: none;
}

.header{
	background-color: #dfcbd4;
}